body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header */

.logo_wrap{
    padding: 25px 0;
}

.menu{
    padding: 5px 0 12px;
}

.menu ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 54%;
    justify-content: space-between;
    margin: 0;
}

.menu_item a{
    color: #99A2AA;
    text-decoration: none;
    transition: .3s color;
    position: relative;
    padding-bottom: 13px;
}

.menu_item a:hover{
    color: #3d4e5d;
}

.menu_item a:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: 2px;
    transition: .3s background-color;
}

.menu_item a:hover:after{
    background-color: #3d4e5d;
}

/* Services block */

.services_block{
    background-color: #ffc525;
    height: 450px;
    padding-top: 54px;
}

.services_form{
    width: 50%;
    padding-right: 16px;
    box-sizing: border-box;
}

.services_title{
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    line-height: 1.3;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    color: #0E2F4B;
}

.services_search{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 1.64em;
    margin-top: 81px;
    box-shadow: 0 3px 35px 0 #5F62662B;
}

.services_search:focus{
    outline: 2px solid #0E2F4B;
}

.services_cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services_card{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 24px 0;
    width: 270px;
    box-shadow: 0 3px 35px 0 #5F62662B;
}

.services_card_title{
    margin: 0 0 0 25px;
    font-weight: 700;
    color: #99A2AA;
    text-decoration: none;
    transition: .3s color;
}

.services_card_title:hover{
    color: #0E2F4B;
}

/* Tabpanel block */

.tabpanel_block{
    background-color: #F8F8F8;
    margin-top: -54px;
    padding-top: 112px;
    padding-bottom: 61px;
}

.tabpanel_wrap{
    display: flex;
}

.tabpanel_text{
    color: #0E2F4B;
    padding-right: 1em;
    width: 35%;
}

.tabpanel_title{
    margin: 17px 0 28px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
}

.tabpanel_desc{
    margin: 0 0 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

.tabpanel_content{
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 209px;
    grid-column-gap: 50px;
}

.tabpanel_item_title{
    color: #0E2F4B;
    font-size: 24px;
    margin: 0 0 9px;
    max-width: 74%;
    line-height: 1.3;
}

.tabpanel_item{
    padding: 20px 10px;
}

.more_link{
    text-decoration: none;
    color: #0E2F4B;
    font-size: 14px;
    font-weight: 700;
}

.more_link span{
    display: inline-block;
    transition: .3s all;
}

.more_link:hover span{
    transform: translateX(3px);
}

/* Business block */

.business_block{
    padding: 149px 0 180px;
    background-color: #042C4B;
}

.business_content{
    max-width: 55%;
}

.business_title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 28px;
    line-height: 1.3;
}

.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #99A2AA;
    line-height: 1.8;
}

.business_block .description{
    max-width: 60%;
}

.business_button{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #0E2F4B;
    background-color: #FDC13D;
    border-radius: 10px;
    border: none;
    padding: 29px 109px;
    margin-top: 40px;
    margin-left: 15px;
    transition: .3s background-color;
}

.business_button:hover{
    background-color: #ffd50a;
}

/* Financial block */

.financial_block{
    padding: 100px 0 229px;
    background-color: #F8F8F8;
}

.news_wrap{
    background-color: #FDC13D;
    border-radius: 10px;
    color: #0E2F4B;
    padding: 51px 74px 40px;
}

.news_title{
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

.news_desc{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px;
}

.news_wrap .more_link{
    font-size: 16px;
}

.news_wrap .more_link span{
    margin-left: 5px;
}

.financial_services{
    margin-top: 122px;
}

.financial_services_title{
    font-size: 48px;
    font-weight: 700;
    color: #0E2F4B;
    margin: 0 0 62px;
}

.financial_services_content{
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}

.financial_services_card{
    width: 300px;
    padding-right: 10px;
    box-sizing: border-box;
}

/* Search index */

.search_index_section{
    background-color: #0E2F4B;
    padding: 165px 0;
}

.search_title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 34px;
}

.search_form{
    margin-top: 75px;
}

.index_search {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 1.9em;
    width: 43.5%;
}

.search_form .business_button{
    margin-left: 5px;
    padding: 28px 88px;
    margin-top: 0;
}

.index_search:focus{
    outline: 2px solid #FDC13D;
}
